<div class="row">
    <div *ngIf="isLoading; else elseBlock" >
        <ngx-skeleton-loader
        count="5"
        [theme]="{
          width: '90%',
          'border-radius': '0',
          height: '15px',
          'margin-bottom': '10px'
        }"
      ></ngx-skeleton-loader>
      </div>

      <ng-template #elseBlock>
         <div class="col-md-4 col-lg-4">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Program Details
                    </mat-card-title>
                </mat-card-header>
    
                <mat-card-content>
    
                  

                        <img [src]="program.image_url"    class="img-thumbnail mb-3"  />
    
                        <p>Program: {{program.name}}</p>
                        <p>Faculty: {{program.faculty}}</p>
                        <p>Duration: {{program.length}}</p>
                        <p>Deadline: {{program.endDate | date: 'fullDate'}}</p>
                  
                    
              
    
                </mat-card-content>
            </mat-card>
    
        </div>
    
        <div class="col-md-8 col-lg-8 col-sm-12">
    
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Applicant Details 
                       
                    </mat-card-title>
                </mat-card-header>
                <hr>
    
                <mat-card-content>
                 
                    <div class="row" >
                        <div class="col-md-12 col-lg-12">
                            <p>Date applied: {{application.createdAt | date: 'fullDate'}}</p>
                            <p>Full name: {{applicant.details[0].firstName  | titlecase}} {{ applicant.details[0].otherNames  | titlecase }} {{ applicant.details[0].lastName  | titlecase }}</p>
                            <p>Age:  {{  age }}</p>
                            <p>Address: {{ applicant.details[0].address  | titlecase}}  </p>
                            <p>Email: {{ applicant.email }}</p>
                        </div>
                    </div>
    
                </mat-card-content>

                <mat-card-actions class="text-right">
                    <button mat-raised-button color="primary" *ngIf="application.status != 'pending'; else elseBlock" disabled> {{ application.status | titlecase}}ed</button>

                    <ng-template #elseBlock>
                        <button mat-raised-button color="primary" (click)="applicationResponse('approve')"> <mat-icon> done_all</mat-icon>Approve</button>
                        <button mat-raised-button color="warn"  (click)="applicationResponse('reject')"> <mat-icon> not_interested</mat-icon>Reject</button>
                    </ng-template>
               
                  </mat-card-actions>
            </mat-card>
            
        </div> 
    
      </ng-template>



</div>
