@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color:  aliceblue; overflow: hidden; }
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
