<mat-card>
    <mat-card-header>
        <mat-card-title></mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="row" *ngIf="programData">
            <div class="col-7">
                <img [src]="programData.image_url"  class="img-thumbnail " height="300px" />
                <hr>   
                <h4>About this course</h4>
                <p>{{ programData.description }}</p>

            </div>

            <div class="col-5">
                <mat-list role="list" >
                    <button mat-raised-button color="warn"  *ngIf="isApplicant" (click)="makeDeposit(programData._id)"> <mat-icon> email</mat-icon>Apply Program</button>
                    <!-- <button mat-raised-button   > Apply</button> -->
                    <mat-list-item role="listitem">
                        <mat-icon>schedule</mat-icon> Length :  {{programData.length}} 
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-icon>loyalty</mat-icon> Price : {{programData.price}} 
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-icon>domain</mat-icon> Faculty  : {{programData.faculty}} 
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-icon>hourglass_full</mat-icon> Deadline  :  {{programData.endDate | date: 'fullDate'}} 
                    </mat-list-item>
                  </mat-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>
